/* body */

body {
    font-family: 'Open Sans', sans-serif;
}

.container-fluid {
    padding: 3% 7%;
}

/* main-container */

#main-title.container-fluid {
    padding: 3% 3%;
}

.main-container {
    background-color: #9C835F;
}

/* main-title-start */

.back-button-img {
    text-decoration: none;
    color: #724C21;
    height: 2.5em;
}

.logo {
    height: 4.5em;
    width: auto;
}

.game-title {
    color: #F9B23D;
}

/* main-title-end */

/* game-section-start */

#game-content {
    padding-left: 15%;
    padding-right: 15%;
}

.game-img {
    max-height: 10rem;
}

.rock-img {
    max-height: 8rem ;
}

.game-img-container {
    text-align: center;
    padding: 10%;
    margin-bottom: 10px;
}

.game-img-clicked {
    background-color: #C4C4C4;
    border-radius: 30px;
}



.player {
    color: black;
    font-weight: 700;
    font-size: 2.25rem;
    margin-bottom: 10%;
}

.vs {
    text-align: center;
    color: #BD0000;
    font-weight: 700;
    font-size: 7rem;
    text-align: center;
}

.draw {
    background-color: #035B0C;
    font-size: 2em;
    font-weight: 700;
    color: white;
    padding: 10% 20%;
    text-align: center;
    transform: rotate(-28.87deg);
}

.win-or-lose {
    background-color: #4C9654;
    font-size: 2em;
    font-weight: 700;
    color: white;
    padding: 10% 20%;
    text-align: center;
    transform: rotate(-28.87deg);
}

/* game-section-end */

/* refresh-section-start */

.refresh {
    text-align: center;
}

.refresh-img {
    max-height: 71px;
}

/* refresh-section-end */